/* tabpad stylesheet */

html,
body { font-weight: 400; background-color: #d3d3d3; }

header { height: 100px; padding: 2% 3%; background-color: #1f1f1f; color: #333; box-shadow: 0 1px 3px rgba(0,0,0,0.3); }
header .logo-container { color: #fff; font-size: 60px; font-weight: lighter; margin-top: -2%; }

#home { min-height: 500px; }

#tabpad-options { text-align: center; margin: 0 auto; float: none; }

.tab-option,
#tabpad {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    padding: 7% 3%;
    width: 100%;
    margin: 5% 0%;
    font-size: 18px;
}

#tabpad { min-height: 600px; margin-top: 0px; }
#tabpad .verse { margin: 3%; }

.chord-section { 
    background: #fff;
    padding: 3% 1%; 
    padding-bottom: 5px;  
    border: 3px solid #ddd; 
    display: inline-block; 
}

.chord-charts .e-maj { 
    background-image: url(http://chordify.net/img/diagrams-guitar.svgz);
    background-repeat: no-repeat;
    background-position: 0 200;
    margin: 2% 0;
    width: 200px;
    min-height: 200px;
}

.chord-charts .c-maj {
    background-image: url(http://chordify.net/img/diagrams-guitar.svgz);
    background-repeat: no-repeat;
    background-position: 0px -410px;
    margin: 2% 0;
    width: 200px;
    min-height: 200px;
}

.chord-charts .f-maj {
    background-image: url(http://chordify.net/img/diagrams-guitar.svgz);
    background-repeat: no-repeat;
    background-position: 0px -2018px;
    margin: 2% 0;
    width: 200px;
    min-height: 200px;
}

.chord-charts .g-maj {
    background-image: url(http://chordify.net/img/diagrams-guitar.svgz);
    background-repeat: no-repeat;
    background-position: 0px -1608px;
    margin: 2% 0;
    width: 200px;
    min-height: 200px;
}
