<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title>{{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/favicon.ico">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/js/fancybox/source/jquery.fancybox.css">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/screen.css">

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunck/html5.js"></script>
        <![endif]-->

    </head>

    <body>
        <header class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 logo-container text-left">tabpad</div>
                    <div class="col-xs-6"></div>
                    <div class="col-xs-3"></div>
                </div>
            </div>
        </header>


